/* Clases globales */
.titulo {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.texto {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.texto-bold {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: solid;
}

.texto-Modal{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-decoration: solid;
    color: black;
}
/*Clases del navbar*/
.navbar {
    background-color: white;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-verde {
    background-color: #6ECF42;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.login-button {
    background-color: #6ECF42;
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #6B456C;

}

.navbar-toggler {
    border: none;
    font-size: 1.25cm;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: grey;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: black;
}

.agroSena {
    font-size: 50px;
    color: #6ECF42;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    -moz-text-stroke-color: #ffffe5;
    -webkit-text-stroke-color: #31A252;
    text-shadow: 7px 7px #6b456c3f;
}


@media (min-width: 991px) {

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #6ECF42;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.position-relative .num {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    padding: 0.5em 0.6em;
    border-radius: 50%;
    background-color: red;
    color: white;
}

/*estilo de las cards de prductos destacados*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.2s linear;
}

.products .products-container {
    display: flex;
    margin: 8px;
    margin-top: 1rem;
}

.products .products-container .box {
    padding: 3rem;
    text-align: center;
    position: relative;
    background-color: #faf9f9;
    box-shadow: 1px 2px 11px 4px rgb(14, 55, 54 / 15%);
    border-radius: 0.5rem;
    outline: 2px solid #faf9f9;
}

.products .products-container .box:hover {
    outline: 3px solid #dd0028;
}

.box-text {
    text-align: start;
}

.products .products-container .box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;

}

.products-container .box h6 {
    font-weight: 800;
    font-size: 13px;
    color: #ff9c01;
}

.products-container .box h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
}

.products-container .box h5 {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.products-container .box .price {
    font-size: 1.8rem;
    color: #dd0028;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.products-container .box .ph-shopping-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: #dd0028;
    color: #faf9f9;
    font-size: 2rem;
    border-radius: 0.5rem 0;
    cursor: pointer;
}

.productos-container .box .fa-shopping-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: #dd0028;
    color: #faf9f9;
    font-size: 2rem;
    border-radius: 0.5rem 0;
    cursor: pointer;
}

.products-container .box .ph-shopping-cart:hover {
    background-color: #ff9c01;
    transition: 0.2s all linear;
}

.productos-container .box .fa-shopping-cart:hover {
    background-color: #ff9c01;
    transition: 0.2s all linear;
}

.products-container .box .ph-heart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #dd0028;
}

.products-container .box .ph-heart:hover {
    color: #ff9c01;
    transition: 0.2s all linear;
}

.products-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 0;
    background: #ff9c01;
    color: #faf9f9;
    padding: 3px 15px;
    font-weight: bold;
    font-size: 1.2rem;
    clip-path: polygon(100% 0% 80% 50% 100% 100%, 0 100%, 0% 50%, 0 0);
}


/* fondo de los titlos */
/* fondo */
content {
    position: relative;
    padding: 50px;
}

.svg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    overflow: hidden;
    z-index: -1;
}

.tituloContcto {
    position: relative;
    z-index: 1;
    color: black;
    text-align: center;
    font-size: 50px;
}

.tituloProducto {
    position: relative;
    z-index: 1;
    color: black;
    text-align: center;
    font-size: 50px;
}

.contact-wrapper {
    padding-top: 60px;
    /* Ajusta según sea necesario para espacio entre título y contenido */
}

.producto-wrapper {
    padding-top: 110px;
    /* Ajusta según sea necesario para espacio entre título y contenido */
}

/* Estilos responsivos para móviles */
@media (max-width: 600px) {
    .tituloContcto {
        margin-top: 110px;
        /* Ajuste para móviles */
        font-size: 40px;
    }
}

/* Estilos responsivos para tabletas */
@media (min-width: 601px) and (max-width: 992px) {
    .tituloContcto {
        margin-top: 110px;
        font-size: 70px;
        /* Ajuste para tabletas */
    }
}

/* diseño del carrusel */
.carousel-inner img {
    max-height: 10rem;
    object-fit: cover;
    min-height: 25rem;

}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

/* el scroll de la pagina en general */
/* Estilo para la barra de desplazamiento vertical */
/* Esto afectará solo a la barra de desplazamiento vertical */
/* y no a la barra de desplazamiento horizontal */

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 5px;
    /* Ancho de la barra */
}

/* Estilo para la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: transparent;
    /* Color de fondo de la pista */
}

/* Estilo para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #31A252;
    /* Color del pulgar (en este caso, verde) */
    border-radius: 5px;
    /* Borde redondeado del pulgar */
}

/* Aplicar el estilo solo a la barra de desplazamiento vertical */
/* Puedes ajustar este selector según el contenedor que desees */
/* afectar con la barra de desplazamiento personalizada */
/* Por ejemplo, si el contenedor tiene la clase "contenedor", */
/* puedes usar ".contenedor::-webkit-scrollbar" */
body {
    overflow-y: scroll;
    overflow-x: hidden;
    /* Afecta solo a la barra de desplazamiento vertical */
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;

} */

footer {
    position: relative;
    width: 100%;
    background-color: #48ff6f;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 110px;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a,
footer .menu li a {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }

}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }

}


.banner {
    background-color: #000000d2;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
    animation: slideUp 1s ease-out;
}

.banner h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    text-decoration: none;
    color: #6B456C;
    background-color: #ffffffce;
    border: 2px solid #31A252;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #31A252;
    color: #fff;
}

/* Animación para el banner */
@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Media queries para diferentes tamaños de pantalla */
@media (min-width: 576px) {
    .banner {
        padding: 70px 40px;
    }

    .banner h2 {
        font-size: 42px;
    }

    .banner p {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .banner h2 {
        font-size: 48px;
    }
}

@media (min-width: 992px) {
    .banner h2 {
        font-size: 54px;
    }
}